body{
    font-size: 12px;
    font-family: "Myriad Pro";
    overflow: visible;
     /*background-image: url(../images/background-1.png) ;
      background-size: 100%;*/
   
}
.container{
 max-width: 980px;   
    min-width: 320px;
     overflow-x: hidden;
}

.background-body{
    position: absolute;
  z-index: -9999;
  top: 30px;
  width: 100%;
  left: 0px;
    height: auto;
}
/*HEADER*/
.header{
    margin-top: 20px;
}
.info{
    float:right;
}

.div-change-language{
    float: left;
}
.phone-hotline{
    float:left;
    margin-right: 50px;
    margin-bottom: 0px;
}

label.label-phone-hotline{
    color: #cd4343;
    margin-left: 15px;
    font-size: 15px;
}
/*LANGUAGE*/
.btn-change-language{
    background-color: #f5ffeb;
    border-radius: 20px;
    width: 60px;
    height: 25px;
    margin-top: -5px;
    line-height: 25px;
    background: #f5ffeb url(../images/icon/icon_language_arrow.png) no-repeat 90% center;
    border: 1px solid #e8e7e7;
}
.flag-icon{
    margin-top: -2px;
    border-radius: 5px;
}
.ul-change-language{
    background: #e3ebf0;
}
.ul-change-language li{
    cursor: pointer;
    padding-left: 15px;
}
.selected-language{
    background: #e3ecf0 url(../images/icon/icon_check_language.png) no-repeat 1% center;
}

/*MENU PAGE*/
.menu{
 top:80px;
 position: absolute;
    padding-left: 150px;
}
.menu-item{
    text-align: center;
    /*padding-left: 10px;
    padding-right: 10px;*/
}
.btn-menu{
 /* background-color: darkgray;*/
    height: 70px;
    width: 90%;
    
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    /*margin-left: 20px;
    margin-right: 20px;*/
     position: absolute;
    right: 0px;
    /*background-image: url(../images/btn-menu-background.png);
    background-repeat:no-repeat;
    background-position: right; */   

}
table.table-menu{
    height: 100%;
    width: 100%;
    background-color: #5f9d23;
        -moz-box-shadow: inset 0px -5px #579427;
-webkit-box-shadow: inset 0px -5px #579427;
box-shadow: inset 0px -5px #579427;
    
    border: 1px solid #5f9d23;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    behavior: url(border-radius.htc);
    
    border-collapse: inherit;
    cursor: pointer;
}
table.table-menu td{
    text-align: center;
  /*  font-size: 12px;
    color: #256730;*/
   
 
}
table.table-menu td a{
       font-weight: bold;
    color: white;
    font-size: 15px;
    text-decoration: none;
}
/*FOOTER CSS*/
.footer-page{
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}
.footer-copyright{
    color: #acacac;
    font-size: 13px;
}
.footer-span-company-name{
    color:#256730;
}
ul.footer-link > li {
    margin-top: 5px;
}
ul.footer-link > li > a{
     color: #727272;
    text-decoration: none;
}
.footer-copyright{
    margin-top: 10px;
    position: absolute;
}
.nopadding{
    padding: 0 !important;
}


/*MENU LINK*/
.menu-link{
    margin-top: 30px;
    text-align: right;
}

#crumb{
    float: right;
}
#crumb li{
    float: left;
    padding: 0 0 0 5px;
    list-style: outside none none
}
#crumb li a{
    background: white url(../images/icon/icon_arrow_link.png) no-repeat right center;
      /* line-height: 2.2em; */
     padding: 0 12px 0 0;
    text-decoration: none;
  
}
.nopadding-menu{
    padding-right: 0px;
}

